<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236550839403-n6tbukhdc3o0hbcl4d2gb587ang3mopq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236550839403-n6tbukhdc3o0hbcl4d2gb587ang3mopq</string>
	<key>API_KEY</key>
	<string>AIzaSyAfD5UjUZgNkX4o1tYlBSDxoJdy_t2O7UE</string>
	<key>GCM_SENDER_ID</key>
	<string>236550839403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.maxlist.New1208</string>
	<key>PROJECT_ID</key>
	<string>maxtodo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>maxtodo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236550839403:ios:84bad9fff380a3af27e52e</string>
	<key>DATABASE_URL</key>
	<string>https://maxtodo-app.firebaseio.com</string>
</dict>
</plist>